@import url(./root.scss);

.main-container {
    width: 100%;

}



.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 1200px) {
        padding: 100px 100px;
    }

    .card-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }


    .ant-card-cover {
        img {
            height: 330px;
            object-fit: cover;
        }
    }

    .ant-card-meta-title {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .technologies {
        display: flex;
        flex-direction: row;
        gap: 10px;


        span {
            height: 25px;
            width: auto;
            text-align: center;
            font-weight: bold;

        }

    }

    .git-link {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

}