@import url(./root.scss);

.main-container {
    width: 100%;

}

.banner {
    display: flex;
    flex-direction: row;
    background-image: url(../assets/images/Forest.jpg);
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    width: 100%;
    padding: 30px 30px;

}

.banner-info {
    width: 50%;
    margin: 70px 0;
    color: #fff;

    h1 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 4rem;
        line-height: 4rem;
        font-family: 'Playfair Display';
    }

    h2 {
        margin: 0;
    }

    .contact-banner {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .contact {
            padding: 15px 30px;
            background-color: black;
            color: #fff;
            cursor: pointer;

        }

        .github {
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
            padding: 15px 30px;
            border: 1px solid #fff;
            gap: 10px;
            color: #fff;

            img {
                height: 30px;
                width: 30px;

            }
        }
    }
}

.about-me {
    background-color: rgba(64, 142, 64, 0.182);
    padding: 50px 200px 100px 100px;

    h2 {
        margin: 0;
    }

    p {
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 1200px) {
        width: 1200px;
        margin: 120px auto;
    }
}