@import url(./root.scss);

.main-container {
    width: 100%;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

    h2 {
        font-size: 2rem;

        @media screen and (max-width: 768px) {
            font-size: 1.5rem;
        }

    }

    @media screen and (max-width: 1024px) {
        padding: 30px;
        /* Ajustez le padding pour les écrans de bureau jusqu'à 1024px */
    }

    @media screen and (max-width: 768px) {
        padding: 0;
    }

    .card-list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding: 30px;
        justify-content: center;

        @media screen and (max-width: 1100px) {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
            padding: 0 20px;
            justify-content: center;

            .ant-card {
                width: 100% !important;
            }
        }

        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            /* Affichage en colonnes */
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            padding: 0 20px;
            justify-content: center;

            .ant-card {
                width: 100% !important;
            }
        }
    }


    .ant-card-cover {
        img {
            height: 330px;
            object-fit: cover;
        }
    }

    .ant-card-meta-title {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .ant-card-meta-description {
        font-size: medium;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .technologies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        span {
            height: 25px;
            width: auto;
            text-align: center;
            font-weight: bold;
        }
    }

    .project-link {
        a {
            color: black;
            font-size: medium;
        }
    }

    .repoGit-link {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }



}

.project-modal {
    .ant-modal-title {
        font-size: 24px;

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }

    }

    .ant-modal-body {

        .technologies {
            display: flex;
            gap: 10px;
        }

        .git-links {
            a {
                color: black;
            }
        }
    }



    .modal-description {
        font-size: larger;

        @media screen and (max-width: 768px) {
            font-size: small;
        }
    }
}