@import url(../../sass/root.scss);

.banner {
    display: flex;
    flex-direction: row;
    background-image: url(../../assets/images/Forest.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 40px 40px;

    @media screen and (max-width: 1024px) {
        padding: 30px 30px;
        /* Ajustez le padding pour les écrans de bureau jusqu'à 1024px */
    }
}

.banner-info {
    width: 100%;
    margin: 70px 0;
    color: #fff;

    h1 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 4rem;
        line-height: 4rem;
        font-family: 'Playfair Display';

        @media screen and (max-width: 768px) {
            font-size: 3rem;
            line-height: 3rem;
        }
    }

    h2 {
        margin: 0;
    }

    .contact-banner {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: auto;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            width: 70%;
        }

        .contact {
            height: 50px;
            padding: 15px 30px;
            background-color: black;
            color: #fff;
            cursor: pointer;
            height: auto;

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
        }

        .github {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
            padding: 15px 30px;
            border: 1px solid #fff;
            gap: 10px;
            color: #fff;

            img {
                height: 30px;
                width: 30px;
            }
        }
    }
}