@import url(../../sass/root.scss);

.about-me {
    background-color: rgba(64, 142, 64, 0.182);
    padding: 100px 200px 100px 100px;

    .details {
        width: 80%;

        a {
            color: #34a245;
        }
    }

    h2 {
        margin: 0;
    }

    p {
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
    }
}